#app {
    height: 100%
}

html,
body {
    position: relative;
    height: 100%;
}

body {
    background: white;
    font-size: 14px;
    color: #000;
    margin: 0;
    padding: 0;
}

img {
    display: block;
    transition: 0.5s;
}